[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = '==6.0.8'
pyyaml = '==6.0.3'
requests = '==2.34.2'
gunicorn = '==26.2.0'

[requires]
python_version = "3.13"
