[defaults]
inventory = inventory.yaml
# Cle utilisee depuis ton WSL. Jenkins, lui, passe --private-key avec la cle
# du Credentials Store (jamais de cle privee dans le depot).
private_key_file = ~/.ssh/id-rda-infra.key
# TP : les VM sont recreees souvent. En vrai : known_hosts gere par Ansible.
host_key_checking = False
retry_files_enabled = False

[ssh_connection]
pipelining = True
